.menu-item {
  position: inherit;
  text-decoration: none;
  color: white;
  font-weight: 900;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: transparent;
}

.menu-item:hover{
  background-color: transparent;
 }

.menu-item-active{
  text-decoration: none;
  color:orange;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 1px solid orange;
}

.menu-item:hover{
  border-bottom: 1px solid orange;
  color: orange;
  transition: 250ms;
  background-color: transparent;
}

@media (max-width: 768px){
  .menu-item, .menu-item-active{
    position: relative;
    font-size: 10px;
  }
}
