.comment-title{
  font-size: 26px;
  font-weight: 300;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 30px;
}

.btn-send{
  background-color: orange;
  margin-bottom: 30px;
  margin-top: 10px;
  font-weight: 600;
}
  
.btn-send:hover{
    background-color:orangered;
}

@media (max-width: 768px){
  .comment-title{
    font-size: 22px;
    margin-top: 15px;
  }
}
