.topics__title{
   font-family: 'Josefin Sans', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 46px;
   color: #495057;
   margin-bottom: 45px;
}

.topics__content{
   font-weight: 400;
   font-size: 16px;
   line-height: 20px;
   color: #6C757D;
   font-family: 'Josefin Sans', sans-serif;
}

.MuiCardHeader-title, .MuiCardHeader-subheader, .MuiCardContent-content, .MuiCardContent-content{
   font-family: 'Josefin Sans', sans-serif;
}

.cart{
   cursor: pointer;
   border-radius: 15px;
   background-color: #f2f8f9;
   border: none;
}

.cart:hover {
   transition: all 0.3s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    background-color: white;
}

.card-image{
  text-align: center;
   border:3px solid orangered;
   border-radius: 10%;
   img{
    width: 308px;
    height: 200px;
    border-radius: 9%;
   }
}