.app-bar{
   background-color: black;
   opacity: 0.75;
   margin-bottom: -65px;
   position: sticky;
   top: 0px;
   z-index: 5;
}

.icon-item{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    border-style: solid;
    border-color: transparent;
    transition: 250ms;
}

.icon-item:hover{
   color:white;
   opacity: 0.4;
   transition: 250ms;
}
   
